/*900 700 480 320*/
/*900 700 480 320*/
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*Varibles and Mixins*/
/*General CSS*/
*:focus {
  outline: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-width: 320px;
}
body {
  font: 16px/1.5em 'PT Sans', Arial, sans-serif;
  height: 3000px;
}
.container-center-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/*Header*/
header {
  padding: 0 15px;
}
@media (max-width: 600px) {
  header {
    padding: 0;
  }
}
header .logo-menu-container {
  width: 100%;
  height: 130px;
  position: relative;
  border-top: 1px solid transparent;
}
header .logo-menu-container .logo-pic {
  width: 225px;
  height: 67px;
  position: absolute;
  top: 50%;
  margin: -33px 0 0 0;
  background: url('../img/logo.png') no-repeat 0 0;
  background-size: cover;
}
@media (max-width: 900px) {
  header .logo-menu-container .logo-pic {
    top: 30%;
  }
}
header .logo-menu-container .logo-pic img {
  height: 100%;
  width: 100%;
}
@media (max-width: 600px) {
  header .logo-menu-container {
    display: none;
  }
}
header .slicknav_menu {
  display: none;
  padding: 0;
  background: none;
}
@media (max-width: 600px) {
  header .slicknav_menu {
    display: block;
  }
}
header .slicknav_menu .slicknav_btn {
  background: none;
}
header .slicknav_menu .slicknav_btn .slicknav_icon-bar {
  background-color: #399799;
}
header .slicknav_menu .slicknav_nav {
  background: #399799;
}
header .slicknav_menu .slicknav_brand {
  margin: 0 0 0 10px;
  padding: 0;
  width: 202px;
  height: 60px;
  background: url('../img/logo.png') no-repeat 0 0;
  background-size: cover;
}
header .header-phone-btn {
  position: absolute;
  top: 25px;
  right: 0;
}
header .header-phone-btn .phone-number {
  font-size: 1.18em;
  font-weight: 700;
  text-decoration: none;
  margin: 0 10px 0 0;
}
header .header-phone-btn .phone-number:link {
  color: #000000;
}
header .header-phone-btn .phone-number:visited {
  color: #000000;
}
header .header-phone-btn .phone-number:hover {
  color: #000000;
}
header .header-phone-btn .phone-number:active {
  color: #000000;
}
header .header-phone-btn button {
  color: #399799;
  font-weight: 700;
  background: transparent;
  padding: 0.6em 1.6em;
  border: 2px solid #399799;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 15px;
}
header .header-phone-btn button:hover {
  background: #399799;
  color: #ffffff;
}
header .header-menu-container {
  text-align: center;
  max-width: 650px;
  position: absolute;
  top: 75px;
  right: 0;
}
@media (max-width: 900px) {
  header .header-menu-container {
    position: static;
    max-width: 600px;
    width: 100%;
    margin: 88px auto 0 auto;
  }
}
header .header-menu ul {
  list-style: none;
}
header .header-menu ul li {
  display: inline-block;
}
header .header-menu ul li:not(:last-child) {
  margin-right: 60px;
}
@media (max-width: 900px) {
  header .header-menu ul li:not(:last-child) {
    margin-right: 9%;
  }
}
header .header-menu ul a {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  line-height: 1.2em;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header .header-menu ul a:link {
  color: #000000;
}
header .header-menu ul a:visited {
  color: #000000;
}
header .header-menu ul a:hover {
  color: #000000;
}
header .header-menu ul a:active {
  color: #000000;
}
header .header-menu ul a:hover,
header .header-menu ul a.active {
  border-bottom: 1px solid #3c3c3c;
}
header .header-menu ul a.dropdown-anchor:after {
  content: '';
  display: block;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 4px;
  right: -23px;
  background: black;
}
header .header-menu-dropout {
  display: inline-block;
  position: relative;
  top: 50px;
  padding: 20px;
  background-color: #399799;
}
header .header-menu-dropout .link-group {
  float: left;
  list-style: none;
  text-align: left;
}
header .header-menu-dropout .link-group:not(:first-child) {
  margin-left: 1em;
}
header .header-menu-dropout .link-group .link-group_title {
  font-size: 17px;
  line-height: 1.8;
  font-weight: 700;
  color: #ffffff;
}
header .header-menu-dropout a {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header .header-menu-dropout a:link {
  color: #ffffff;
}
header .header-menu-dropout a:visited {
  color: #ffffff;
}
header .header-menu-dropout a:hover {
  color: #ffffff;
}
header .header-menu-dropout a:active {
  color: #ffffff;
}
header .header-menu-dropout a:hover {
  border-bottom: 1px solid #ffffff;
}
header .header-menu-dropout.active {
  display: inline-block;
}
header.fixed {
  width: 100%;
  position: fixed;
}
header.fixed .logo-menu-container {
  height: 60px;
}
header.fixed .logo-menu-container .logo-pic {
  height: 60px;
  width: 200px;
  position: static;
  float: left;
  margin: 0;
}
@media (max-width: 900px) {
  header.fixed .logo-menu-container .logo-pic {
    width: 31px;
    background: url('../img/logo_short.png') no-repeat 0 0;
    background-size: contain;
  }
}
header.fixed .logo-menu-container .header-phone-btn {
  display: none;
}
header.fixed .logo-menu-container .header-menu-container {
  position: absolute;
  max-width: 100%;
  top: 16px;
  margin: 0;
}
@media (max-width: 900px) {
  header.fixed .logo-menu-container .header-menu ul li:not(:last-child) {
    margin-right: 7%;
  }
}
