/*Variables and Mixins*/
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'Bitter';
  src: local('Bitter'), local('Bitter-Regular'), url('../fonts/bitter.woff2') format('woff2'), url('../fonts/bitter.woff') format('woff'), url('../fonts/bitter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: local('Bitter Italic'), local('Bitter-Italic'), url('../fonts/bitteritalic.woff2') format('woff2'), url('../fonts/bitteritalic.woff') format('woff'), url('../fonts/bitteritalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Bitter';
  src: local('Bitter Bold'), local('Bitter-Bold'), url('../fonts/bitterbold.woff2') format('woff2'), url('../fonts/bitterbold.woff') format('woff'), url('../fonts/bitterbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: local('Bitter Bold Italic'), local('Bitter-BoldItalic'), url('../fonts/bitterbolditalic.woff2') format('woff2'), url('../fonts/bitterbolditalic.woff') format('woff'), url('../fonts/bitterbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
/*Variables and Mixins*/
/*_______________*/
/*General CSS*/
/*_______________*/
*:focus {
  outline: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-width: 320px;
}
body {
  font: 16px/1.2em 'PT Sans', Arial, sans-serif;
}
h1,
h2 {
  font: 37px/1.2 'Bitter', serif;
  margin: 60px 0 68px 0;
}
@media (max-width: 850px) {
  h1,
  h2 {
    margin: 45px 0;
  }
}
@media (max-width: 600px) {
  h1,
  h2 {
    margin: 30px 0;
    font-size: 35px;
    text-align: center;
  }
}
p {
  margin: 10px 0;
}
.container-center-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.container-full-width.add-side-padding {
  padding-left: 15px;
  padding-right: 15px;
}
/*Header*/
/*_______________*/
#header-container {
  z-index: 1000;
  padding: 0 15px;
  background: #ffffff;
}
@media (max-width: 600px) {
  #header-container {
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 2px 15px -4px #000000;
    -moz-box-shadow: 0px 2px 15px -4px #000000;
    box-shadow: 0px 2px 15px -4px #000000;
  }
}
#header-container .container-center-wrapper {
  background: #ffffff;
}
#header-container .desktop-menu {
  width: 100%;
  height: 137px;
  position: relative;
  border-top: 1px solid transparent;
}
@media (max-width: 950px) {
  #header-container .desktop-menu {
    height: 150px;
  }
}
@media (max-width: 600px) {
  #header-container .desktop-menu {
    height: 60px;
    padding: 3px 0;
  }
}
#header-container .desktop-menu .desktop-menu_logo {
  height: 67px;
  position: absolute;
  top: 50%;
  margin: -36px 0 0 0;
}
@media (max-width: 950px) {
  #header-container .desktop-menu .desktop-menu_logo {
    top: 30%;
  }
}
#header-container .desktop-menu .desktop-menu_logo img {
  height: 100%;
  width: 100%;
}
@media (max-width: 600px) {
  #header-container .desktop-menu .desktop-menu_logo {
    margin: 6px 0 0 0;
    padding: 0;
    height: 40px;
    width: auto;
    position: static;
  }
}
#header-container .desktop-menu_phone-btn {
  position: absolute;
  top: 30px;
  right: 0;
}
@media (max-width: 600px) {
  #header-container .desktop-menu_phone-btn {
    top: 10px;
    right: 62px;
  }
}
#header-container .desktop-menu_phone-btn .phone-number {
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 700;
  text-decoration: none;
  margin: 0 13px 0 0;
}
#header-container .desktop-menu_phone-btn .phone-number:link {
  color: #000000;
}
#header-container .desktop-menu_phone-btn .phone-number:visited {
  color: #000000;
}
#header-container .desktop-menu_phone-btn .phone-number:hover {
  color: #000000;
}
#header-container .desktop-menu_phone-btn .phone-number:active {
  color: #000000;
}
@media (max-width: 600px) {
  #header-container .desktop-menu_phone-btn .phone-number {
    display: block;
    width: 37px;
    height: 37px;
    margin: 0;
    background: url('../img/phone_receiver.svg') no-repeat 0 0;
    font-size: 0;
  }
}
#header-container .desktop-menu_phone-btn button {
  color: #399799;
  font-weight: 700;
  background: transparent;
  padding: 0.5em 1.2em;
  border: 2px solid #399799;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 15px;
  margin-top: -2px;
}
#header-container .desktop-menu_phone-btn button:hover {
  background: #399799;
  color: #ffffff;
}
@media (max-width: 600px) {
  #header-container .desktop-menu_phone-btn button {
    display: none;
  }
}
#header-container .desktop-nav-container {
  text-align: center;
  max-width: 670px;
  position: absolute;
  top: 79px;
  right: 0;
  z-index: 500;
}
@media (max-width: 950px) {
  #header-container .desktop-nav-container {
    position: static;
    max-width: 680px;
    width: 100%;
    margin: 100px auto 0 auto;
  }
}
@media (max-width: 600px) {
  #header-container .desktop-nav-container {
    display: none;
  }
}
#header-container .desktop-nav {
  font-size: 0;
}
#header-container .desktop-nav ul {
  list-style: none;
}
#header-container .desktop-nav ul li {
  display: inline-block;
}
#header-container .desktop-nav ul li:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 950px) {
  #header-container .desktop-nav ul li:not(:last-child) {
    margin-right: 5%;
  }
}
#header-container .desktop-nav ul a {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  font-size: 19px;
  line-height: 1.2em;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
#header-container .desktop-nav ul a:link {
  color: #000000;
}
#header-container .desktop-nav ul a:visited {
  color: #000000;
}
#header-container .desktop-nav ul a:hover {
  color: #000000;
}
#header-container .desktop-nav ul a:active {
  color: #000000;
}
#header-container .desktop-nav ul a:hover,
#header-container .desktop-nav ul a.active {
  -webkit-box-shadow: 0px 3px 0px -1px #3c3c3c;
  -moz-box-shadow: 0px 3px 0px -1px #3c3c3c;
  box-shadow: 0px 3px 0px -1px #3c3c3c;
}
#header-container .desktop-nav ul a.dropdown-anchor:after {
  content: '';
  display: block;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 7px;
  right: -23px;
  background: url('../img/general_spritesheet.png') 0px -218px no-repeat;
}
#header-container .desktop-nav-dropout {
  display: none;
  width: 601px;
  position: absolute;
  top: 75px;
  padding: 20px;
  background-color: #399799;
}
@media (max-width: 950px) {
  #header-container .desktop-nav-dropout {
    top: 165px;
    left: 50%;
    margin-left: -301px;
  }
}
#header-container .desktop-nav-dropout .link-group {
  float: left;
  list-style: none;
  text-align: left;
}
#header-container .desktop-nav-dropout .link-group:not(:first-child) {
  margin-left: 2em;
}
#header-container .desktop-nav-dropout .link-group .link-group_title {
  font-size: 17px;
  line-height: 1.8;
  font-weight: 700;
  color: #ffffff;
}
#header-container .desktop-nav-dropout a {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
#header-container .desktop-nav-dropout a:link {
  color: #ffffff;
}
#header-container .desktop-nav-dropout a:visited {
  color: #ffffff;
}
#header-container .desktop-nav-dropout a:hover {
  color: #ffffff;
}
#header-container .desktop-nav-dropout a:active {
  color: #ffffff;
}
#header-container .desktop-nav-dropout a:hover {
  -webkit-box-shadow: 0px 3px 0px -1px #ffffff;
  -moz-box-shadow: 0px 3px 0px -1px #ffffff;
  box-shadow: 0px 3px 0px -1px #ffffff;
}
/*Burger-icon*/
/*_______________*/
.hamburger {
  display: none;
  width: 45px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  /*
  .hamburger_ie9{
    width: 21px;
    height: 30px;
    position: absolute;
    top: 2px;
    left: 0;
    background: url('../img/open_close_menu_icon_sprite.png') 0px -47px no-repeat;
    display: none;
  }*/

}
@media (max-width: 600px) {
  .hamburger {
    display: block;
  }
}
.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #399799;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 15px;
}
.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 27px;
}
.hamburger span:nth-child(4) {
  top: 39px;
}
.hamburger.open span {
  background: #399799;
}
.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
.hamburger.open .hamburger_ie9 {
  background-position: 0 10px;
}
/*Mobile menu*/
/*_______________*/
.mobile-menu {
  position: fixed;
  height: 100% !important;
  z-index: 100;
  top: 60px;
  visibility: hidden;
  -webkit-box-shadow: 0px 2px 15px -4px #000000;
  -moz-box-shadow: 0px 2px 15px -4px #000000;
  box-shadow: 0px 2px 15px -4px #000000;
}
.multilevelpushmenu_wrapper {
  height: 100% !important;
}
.multilevelpushmenu_wrapper .levelHolderClass {
  background: #399799;
}
.multilevelpushmenu_wrapper .ltr {
  -webkit-box-shadow: 0px 2px 15px -4px #000000;
  -moz-box-shadow: 0px 2px 15px -4px #000000;
  box-shadow: 0px 2px 15px -4px #000000;
  filter: progid:dximagetransform.microsoft.shadow(color=#399799, direction=90, strength=2);
}
.multilevelpushmenu_wrapper .rtl {
  -webkit-box-shadow: 0px 2px 15px -4px #000000;
  -moz-box-shadow: 0px 2px 15px -4px #000000;
  box-shadow: 0px 2px 15px -4px #000000;
  filter: progid:dximagetransform.microsoft.shadow(color=#399799, direction=270, strength=2);
}
.multilevelpushmenu_wrapper .multilevelpushmenu_inactive {
  background: #2F7E80;
}
.multilevelpushmenu_wrapper h2 {
  color: #f5f5f5;
}
.multilevelpushmenu_wrapper li {
  border: none;
  cursor: pointer;
}
.multilevelpushmenu_wrapper li:last-child {
  border-bottom: none;
}
.multilevelpushmenu_wrapper li:hover {
  background-color: #2F7E80;
}
.multilevelpushmenu_wrapper a {
  color: #ffffff;
}
.multilevelpushmenu_wrapper a:hover {
  color: #ffffff;
}
.multilevelpushmenu_wrapper .backItemClass {
  background: none;
  -webkit-box-shadow: inset 2px 0px 28px -12px #000000;
  -moz-box-shadow: inset 2px 0px 28px -12px #000000;
  box-shadow: inset 2px 0px 28px -12px #000000;
  border-top: 1px solid #399799;
}
/*Fixed Header*/
/*_______________*/
header.fixed {
  padding: 60px 0 0 0;
}
header.fixed #header-container {
  width: 100%;
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-box-shadow: 0px 2px 15px -4px #000000;
  -moz-box-shadow: 0px 2px 15px -4px #000000;
  box-shadow: 0px 2px 15px -4px #000000;
}
header.fixed #header-container .desktop-menu {
  height: 60px;
}
header.fixed #header-container .desktop-menu .desktop-menu_logo {
  height: 54px;
  width: auto;
  position: static;
  float: left;
  margin: 0;
}
@media (max-width: 950px) {
  header.fixed #header-container .desktop-menu .desktop-menu_logo {
    display: none;
  }
}
@media (max-width: 600px) {
  header.fixed #header-container .desktop-menu .desktop-menu_logo {
    display: block;
    height: 40px;
    margin: 6px 0 0 0;
  }
}
@media (min-width: 600px) {
  header.fixed #header-container .desktop-menu .desktop-menu_phone-btn {
    display: none;
  }
}
header.fixed #header-container .desktop-menu .desktop-nav-container {
  position: absolute;
  max-width: 100%;
  top: 20px;
  margin: 0;
}
@media (max-width: 900px) {
  header.fixed #header-container .desktop-menu .desktop-nav ul li:not(:last-child) {
    margin-right: 5%;
  }
}
header.fixed #header-container .desktop-menu .desktop-nav-dropout {
  top: 57px;
}
header .inner-page-pattern-bg {
  background: url('../img/slider_bg.jpg') repeat-x 50% 0;
  width: 100%;
  height: 76px;
}
/*Main-content*/
/*_______________*/
main {
  /*Breadcrumbs*/

  /*_______________*/

  /*Paginator*/

  /*_______________*/

}
main .breadcrumbs {
  list-style: none;
  margin-top: 35px;
}
main .breadcrumbs li {
  display: inline-block;
}
main .breadcrumbs a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
main .breadcrumbs a:link {
  color: #399799;
}
main .breadcrumbs a:visited {
  color: #399799;
}
main .breadcrumbs a:hover {
  color: #000000;
}
main .breadcrumbs a:active {
  color: #399799;
}
main .paginator {
  margin: 70px 0 0 0;
}
main .paginator ul {
  list-style: none;
  text-align: right;
}
@media (max-width: 600px) {
  main .paginator ul {
    text-align: center;
  }
}
main .paginator li {
  display: inline-block;
  color: #979797;
  font-weight: 700;
  background: transparent;
  padding: 0.5em 1.2em;
  border: 2px solid #979797;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 14px;
  padding: 0.5em 1em;
}
main .paginator li:hover {
  background: #979797;
  color: #ffffff;
}
main .paginator li.active {
  color: #399799;
  font-weight: 700;
  background: transparent;
  padding: 0.5em 1.2em;
  border: 2px solid #399799;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.5em 1em;
}
main .paginator li.active:hover {
  background: #399799;
  color: #ffffff;
}
/*Slider block index*/
/*_______________*/
.slider-container-full-width {
  background: url('../img/slider_bg.jpg') repeat-x 50% 0;
}
@media (max-width: 600px) {
  .slider-container-full-width {
    background-position: 50% -83px;
  }
}
.slider-container-full-width .container-center-wrapper {
  max-width: 1920px;
  width: 100%;
}
.slider .slide {
  width: 100%;
  height: 490px;
  text-align: center;
}
@media (max-width: 600px) {
  .slider .slide {
    height: 323px;
  }
}
.slider .slide:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.slider .slide .slide-title {
  line-height: 1.2;
  font-family: 'Bitter', serif;
  display: inline-block;
  vertical-align: middle;
}
.slider .slide .slide-title a {
  font-weight: 700;
  border-bottom: 3px solid #000000;
  text-decoration: none;
}
.slider .slide .slide-title a:link {
  color: #000000;
}
.slider .slide .slide-title a:visited {
  color: #000000;
}
.slider .slide .slide-title a:hover {
  color: #000000;
}
.slider .slide .slide-title a:active {
  color: #000000;
}
/*About block index*/
/*_______________*/
.about-company-container-full-width {
  padding: 0.1% 15px 4% 15px;
}
.about-company {
  float: left;
  width: 50%;
  position: relative;
  z-index: 1;
}
@media (max-width: 950px) {
  .about-company {
    width: 45%;
  }
}
@media (max-width: 850px) {
  .about-company {
    width: 58%;
  }
}
@media (max-width: 600px) {
  .about-company {
    float: none;
    width: 100%;
  }
}
.about-company .about-company_text {
  width: 100%;
  text-align: justify;
}
.about-company .download_presentation {
  display: block;
  margin: 65px 0 0 0 ;
  padding: 0 0 0 40px;
  font-size: 14px;
  font-style: italic;
  background: url('../img/general_spritesheet.png') -50px -120px no-repeat;
}
.about-company .download_presentation a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.about-company .download_presentation a:link {
  color: #000000;
}
.about-company .download_presentation a:visited {
  color: #000000;
}
.about-company .download_presentation a:hover {
  color: #000000;
}
.about-company .download_presentation a:active {
  color: #000000;
}
.about-company .download_presentation a:hover {
  text-decoration: underline;
}
.company-features {
  position: relative;
  padding-top: 175px;
}
@media (max-width: 850px) {
  .company-features {
    float: right;
    width: 40%;
    padding-top: 135px;
  }
}
@media (max-width: 600px) {
  .company-features {
    float: none;
    width: 100%;
    padding-top: 50px;
    margin: 0 auto;
  }
}
.company-features .left-col {
  float: right;
  width: 205px;
}
@media (max-width: 850px) {
  .company-features .left-col {
    float: none;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .company-features .left-col {
    float: left;
  }
}
@media (max-width: 450px) {
  .company-features .left-col {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.company-features .right-col {
  float: right;
  width: 205px;
  margin-right: 4%;
}
@media (max-width: 850px) {
  .company-features .right-col {
    float: none;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .company-features .right-col {
    float: right;
  }
}
@media (max-width: 450px) {
  .company-features .right-col {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.company-features .feature-item {
  margin-bottom: 15px;
}
.company-features .feature-item .feature-item_icon {
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.company-features .feature-item .feature-item_text {
  display: inline-block;
  text-transform: uppercase;
  width: 140px;
  vertical-align: middle;
}
/*Clients block index*/
/*_______________*/
.our-clients-container-full-width {
  background: url('../img/clients_bg.jpg') repeat 50% 0;
  padding: 0.1% 15px 4% 15px;
}
.our-clients-container-full-width .column {
  width: 29%;
  float: left;
  font-size: 0;
}
.our-clients-container-full-width .column:not(:last-child) {
  margin-right: 6.5%;
}
.our-clients-container-full-width .column img {
  width: 100%;
  margin: 2% 0;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.23);
}
/*Services block index*/
/*_______________*/
.services-container-full-width {
  padding: 0.1% 15px 4% 15px;
  font-size: 0;
}
@media (max-width: 850px) {
  .services-container-full-width .service-item-list {
    text-align: center;
  }
}
.services-container-full-width .service-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 30%;
  margin-bottom: 66px;
}
@media (max-width: 850px) {
  .services-container-full-width .service-item {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .services-container-full-width .service-item {
    width: auto;
  }
}
.services-container-full-width .service-item.development {
  margin-right: 6%;
}
@media (max-width: 850px) {
  .services-container-full-width .service-item.development {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  
}
.services-container-full-width .service-item.seo {
  margin-right: 4%;
}
@media (max-width: 850px) {
  .services-container-full-width .service-item.seo {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  
}
@media (max-width: 850px) {
  
}
@media (max-width: 600px) {
  
}
.services-container-full-width .service-item .service-item_title {
  margin-bottom: 15px;
}
.services-container-full-width .service-item .service-item_title .service-item_title_icon {
  max-width: 51px;
  max-height: 51px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.services-container-full-width .service-item .service-item_title .service-item_title_text {
  display: inline-block;
  width: 170px;
  vertical-align: middle;
  font-size: 21px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
}
.services-container-full-width .service-item ul {
  list-style: none;
  width: 100%;
}
@media (max-width: 850px) {
  
}
.services-container-full-width .service-item ul li {
  margin: 0 0 11px 0;
}
.services-container-full-width .service-item a {
  font-size: 21px;
  display: inline-block;
  height: 21px;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 0px -1px #399799;
  -moz-box-shadow: 0px 3px 0px -1px #399799;
  box-shadow: 0px 3px 0px -1px #399799;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.services-container-full-width .service-item a:link {
  color: #399799;
}
.services-container-full-width .service-item a:visited {
  color: #399799;
}
.services-container-full-width .service-item a:hover {
  color: #000000;
}
.services-container-full-width .service-item a:active {
  color: #399799;
}
.services-container-full-width .service-item a:hover {
  box-shadow: none;
}
/*SEO Text block index*/
/*_______________*/
.seo-text-container-full-width {
  padding: 0 15px 4% 15px;
  border-top: 1px solid transparent;
  background: #e4e4e4;
  background: -moz-linear-gradient(left, #e4e4e4 0%, #f6f6f6 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #e4e4e4), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(left, #e4e4e4 0%, #f6f6f6 100%);
  background: -o-linear-gradient(left, #e4e4e4 0%, #f6f6f6 100%);
  background: -ms-linear-gradient(left, #e4e4e4 0%, #f6f6f6 100%);
  background: linear-gradient(to right, #e4e4e4 0%, #f6f6f6 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f6f6f6', GradientType=1);
}
.seo-text-container-full-width .left-column {
  float: left;
  width: 47%;
  margin-right: 6%;
  text-align: justify;
}
@media (max-width: 600px) {
  .seo-text-container-full-width .left-column {
    float: none;
    width: 100%;
  }
}
.seo-text-container-full-width .right-column {
  float: right;
  width: 47%;
  text-align: justify;
}
@media (max-width: 600px) {
  .seo-text-container-full-width .right-column {
    float: none;
    width: 100%;
  }
}
.seo-text-container-full-width a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.seo-text-container-full-width a:link {
  color: #399799;
}
.seo-text-container-full-width a:visited {
  color: #399799;
}
.seo-text-container-full-width a:hover {
  color: #000000;
}
.seo-text-container-full-width a:active {
  color: #399799;
}
/*Footer*/
/*_______________*/
footer {
  padding: 40px 15px 3% 15px;
}
footer .logo-copyright {
  float: left;
}
@media (max-width: 600px) {
  footer .logo-copyright {
    text-align: center;
    float: none;
    margin-top: 15px;
  }
}
footer .logo-copyright .footer-logo {
  width: 225px;
  height: 67px;
}
footer .logo-copyright .footer-logo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  footer .logo-copyright .footer-logo {
    display: none;
  }
}
footer .logo-copyright .copyright {
  color: #898989;
}
footer .social-sharing {
  float: right;
  margin-top: 33px;
  width: 150px;
  font-size: 0;
}
@media (max-width: 600px) {
  footer .social-sharing {
    float: none;
    margin: 0 auto;
  }
}
footer .social-sharing ul {
  list-style: none;
}
footer .social-sharing ul li {
  display: inline-block;
}
@media (max-width: 600px) {
  
}
footer .social-sharing ul li:not(:last-child) {
  margin-right: 3%;
}
footer .social-sharing ul a {
  display: block;
  width: 47px;
  height: 47px;
  background: red;
}
footer .social-sharing ul a.fb {
  background: url('../img/general_spritesheet.png') -52px 0 no-repeat;
}
footer .social-sharing ul a.fb:hover {
  background: url('../img/general_spritesheet.png') -52px -60px no-repeat;
}
footer .social-sharing ul a.vk {
  background: url('../img/general_spritesheet.png') -105px 0 no-repeat;
}
footer .social-sharing ul a.vk:hover {
  background: url('../img/general_spritesheet.png') -105px -60px no-repeat;
}
footer .social-sharing ul a.gp {
  background: url('../img/general_spritesheet.png') 0px 0 no-repeat;
}
footer .social-sharing ul a.gp:hover {
  background: url('../img/general_spritesheet.png') 0px -60px no-repeat;
}
/*Contacts page*/
/*_______________*/
.contact-info p {
  margin: 15px 0;
}
.contact-info p:first-child {
  margin: 0;
}
.contact-info a:link {
  color: #399799;
}
.contact-info a:visited {
  color: #399799;
}
.contact-info a:hover {
  color: #000000;
}
.contact-info a:active {
  color: #399799;
}
.contact-info .phone-number {
  text-decoration: none;
}
.contact-info .phone-number:link {
  color: #000000;
}
.contact-info .phone-number:visited {
  color: #000000;
}
.contact-info .phone-number:hover {
  color: #000000;
}
.contact-info .phone-number:active {
  color: #000000;
}
.contact-info address {
  font-style: normal;
}
.map-container {
  width: 100%;
  height: 270px;
  background: red;
  margin-top: 50px;
}
.contactus-form .input-group.text {
  float: left;
  margin-bottom: 3%;
  width: 31%;
  height: 40px;
  position: relative;
}
.contactus-form .input-group.text:not(:first-child) {
  margin-left: 3.5%;
}
.contactus-form .input-group.text input,
.contactus-form .input-group.text textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  background: #f9f9f9;
  border: 1px solid #c7c7c7;
  font-size: 14px;
  line-height: 40px;
  color: #525252;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contactus-form .input-group.text .placeholder {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
  line-height: 40px;
  color: #525252;
  position: relative;
  top: -40px;
  left: 0;
}
.contactus-form .input-group.text.active .placeholder {
  display: none;
}
@media (max-width: 600px) {
  .contactus-form .input-group.text {
    float: none;
    width: 100%;
    margin-left: 0 !important;
  }
}
.contactus-form .input-group.textarea {
  width: 100%;
  height: 125px;
  position: relative;
}
.contactus-form .input-group.textarea input,
.contactus-form .input-group.textarea textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  background: #f9f9f9;
  border: 1px solid #c7c7c7;
  font-size: 14px;
  line-height: 125px;
  color: #525252;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contactus-form .input-group.textarea .placeholder {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
  line-height: 125px;
  color: #525252;
  position: relative;
  top: -125px;
  left: 0;
}
.contactus-form .input-group.textarea.active .placeholder {
  display: none;
}
.contactus-form .input-group.textarea textarea {
  padding: 10px;
  resize: none;
  line-height: 1.2;
}
.contactus-form .input-group.textarea .placeholder {
  line-height: 1.2;
}
.contactus-form input[type="submit"] {
  color: #399799;
  font-weight: 700;
  background: transparent;
  padding: 0.5em 1.2em;
  border: 2px solid #399799;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 3% 0 0 0;
}
.contactus-form input[type="submit"]:hover {
  background: #399799;
  color: #ffffff;
}
/*Feedback page*/
/*_______________*/
.feedback-item a {
  display: inline-block;
  margin-top: 40px;
  color: #399799;
  font-weight: 700;
  background: transparent;
  padding: 0.5em 1.2em;
  border: 2px solid #399799;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-decoration: none;
}
.feedback-item a:hover {
  background: #399799;
  color: #ffffff;
}
.feedback-item .personal-info {
  width: 200px;
  float: left;
  margin-right: 6%;
  position: relative;
}
@media (max-width: 600px) {
  .feedback-item .personal-info {
    float: none;
    width: 100%;
    margin-right: 0 !important;
  }
}
.feedback-item .personal-info .name-position {
  margin: 0 0 20px 0;
}
@media (max-width: 600px) {
  .feedback-item .personal-info .name-position {
    margin: 0;
    position: absolute;
    bottom: 70px;
    width: 100%;
    padding: 5px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 400px) {
  .feedback-item .personal-info .name-position {
    font-size: 12px;
  }
}
.feedback-item .personal-info .position {
  font-size: 19px;
  font-weight: 700;
}
.feedback-item .personal-info .photo {
  width: 100%;
  min-height: 250px;
  background: red;
}
@media (max-width: 600px) {
  .feedback-item .personal-info .photo {
    max-height: 250px;
  }
}
.feedback-item .personal-info .photo.static {
  display: block;
}
@media (max-width: 600px) {
  .feedback-item .personal-info .photo.static {
    display: none;
  }
}
.feedback-item .personal-info .photo.flexible {
  display: none;
  min-height: 124px;
}
@media (max-width: 600px) {
  .feedback-item .personal-info .photo.flexible {
    display: block;
  }
}
.feedback-item .personal-info .company-logo {
  display: block;
  margin: 10px 0 15px 0;
}
@media (max-width: 600px) {
  .feedback-item .feedback-text-container {
    margin-top: -30px;
  }
}
.feedback-item .feedback-text-container .feedback-text {
  position: relative;
  padding-top: 43px;
  /*Styles for bracket-symbols*/

}
@media (max-width: 600px) {
  .feedback-item .feedback-text-container .feedback-text {
    padding-top: 20px;
  }
}
.feedback-item .feedback-text-container .feedback-text p {
  font-style: italic;
  padding-right: 4%;
  text-align: justify;
}
@media (max-width: 600px) {
  .feedback-item .feedback-text-container .feedback-text p {
    padding-right: 0;
  }
}
.feedback-item .feedback-text-container .feedback-text .top-bracket {
  position: relative;
  width: 100%;
}
.feedback-item .feedback-text-container .feedback-text .top-bracket:before {
  content: '';
  display: block;
  width: 40px;
  height: 35px;
  position: absolute;
  top: -20px;
  left: -40px;
  background: url('../img/general_spritesheet.png') 0 -120px no-repeat;
}
@media (max-width: 600px) {
  .feedback-item .feedback-text-container .feedback-text .top-bracket:before {
    display: none;
  }
}
.feedback-item .feedback-text-container .feedback-text:before {
  content: '';
  display: none;
  width: 40px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  background: url('../img/general_spritesheet.png') 0 -120px no-repeat;
}
@media (max-width: 600px) {
  .feedback-item .feedback-text-container .feedback-text:before {
    display: block;
  }
}
.feedback-item .feedback-text-container .feedback-text:after {
  content: '';
  display: block;
  width: 40px;
  height: 35px;
  position: absolute;
  bottom: -45px;
  right: 0;
  background: url('../img/general_spritesheet.png') 0 -120px no-repeat;
}
@media (max-width: 600px) {
  .feedback-item .feedback-text-container .feedback-text:after {
    left: 0;
  }
}
/*Article-previews page*/
/*_______________*/
.article-item-list {
  float: left;
  width: 65%;
}
@media (max-width: 850px) {
  .article-item-list {
    float: none;
    width: 100%;
  }
}
.article-item-list_item {
  margin: 0 0 35px 0;
}
.article-item-list_item .article-item-list_item_title {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.article-item-list_item .article-item-list_item_title:link {
  color: #399799;
}
.article-item-list_item .article-item-list_item_title:visited {
  color: #399799;
}
.article-item-list_item .article-item-list_item_title:hover {
  color: #000000;
}
.article-item-list_item .article-item-list_item_title:active {
  color: #399799;
}
.article-item-list_item .article-item-list_item_date {
  font-size: 13px;
  color: #3c3c3c;
  margin-bottom: 15px;
}
.article-item-list_item .article-item-list_item_pic {
  display: block;
  float: left;
  width: 41%;
  margin-right: 3%;
  background: red;
}
@media (max-width: 600px) {
  .article-item-list_item .article-item-list_item_pic {
    width: 100%;
    margin-bottom: 3%;
  }
}
.article-item-list_item .article-item-list_item_text {
  font-size: 14px;
  text-align: justify;
  margin-top: 0;
}
/*Article filters*/
/*_______________*/
.article-filter {
  float: right;
}
@media (max-width: 850px) {
  .article-filter {
    width: 100%;
    float: none;
  }
}
.article-filter .article-filter_title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 12px;
}
.article-filter .article-category-form ul {
  list-style: none;
}
.article-filter .article-category-form ul li {
  margin: 10px 0;
}
@media (max-width: 850px) {
  .article-filter .article-category-form ul li {
    display: inline-block;
    margin: 5px 0;
  }
}
.article-filter .article-category-form ul label {
  display: inline-block;
  font-size: 15px;
  color: #979797;
  font-weight: 700;
  background: transparent;
  padding: 0.5em 1.2em;
  border: 2px solid #979797;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.4em 1.2em;
}
.article-filter .article-category-form ul label:hover {
  background: #979797;
  color: #ffffff;
}
.article-filter .article-category-form ul label.active {
  color: #399799;
  font-weight: 700;
  background: transparent;
  padding: 0.5em 1.2em;
  border: 2px solid #399799;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.4em 1.2em;
}
.article-filter .article-category-form ul label.active:hover {
  background: #399799;
  color: #ffffff;
}
.article-filter .article-category-form ul label input[type="checkbox"] {
  display: none;
}
@media (max-width: 850px) {
  .article-filter .article-search-form {
    width: 30%;
    min-width: 290px;
    margin: 10px 0 30px 0;
  }
}
.article-filter .article-search-form input[type="search"] {
  height: 40px;
  width: 100%;
  padding: 10px 10px 0 30px;
  border: none;
  border-bottom: 2px solid #979797;
  font-size: 14px;
  color: #525252;
  background: url('../img/general_spritesheet.png') 0 -164px no-repeat;
}
@media (max-width: 850px) {
  .article-filter .article-search-form .article-filter_title {
    display: none;
  }
}
/*Article-items*/
/*_______________*/
.content.article .article-filter {
  margin-top: 65px;
}
@media (max-width: 850px) {
  .content.article .article-filter {
    margin: 30px 0 0 0;
  }
}
.content.article .article-item {
  float: left;
  width: 65%;
}
@media (max-width: 850px) {
  .content.article .article-item {
    float: none;
    width: 100%;
  }
}
.content.article .article-item h1 {
  margin-bottom: 5px;
}
@media (max-width: 850px) {
  .content.article .article-item h1 {
    text-align: left;
  }
}
.content.article .article-item .article-item-date {
  font-size: 13px;
  color: #3c3c3c;
  margin-bottom: 15px;
}
