
/*900 600 480 320*/
@import "reset.less";
@import "mixins.less";


/*Varibles and Mixins*/
@light-green: #399799;
@black: #000000;

.link-colors(@default-color, @hover-color){
  &:link{
    color: @default-color;
  }
  &:visited{
    color: @default-color;
  }
  &:hover{
    color: @hover-color;
  }
  &:active{
    color: @default-color;
  }
}
.btn(@btn-color){

  color: @btn-color;
  font-weight: 700;
  background: transparent;
  padding: 0.6em 1.6em;
  border: 2px solid @btn-color;
  cursor: pointer;
  .transition(all 0.3s ease);
  .border-radius(3px);
  &:hover{
    background: @btn-color;
    color: #ffffff;
  }
}


/*General CSS*/
*:focus {
  outline: none;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

*{
  box-sizing: border-box;
}

body {
  font: 16px/1.5em 'PT Sans', Arial, sans-serif;
}

.container-center-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


/*Header*/
.logo-menu-container-default{
  width: 100%;
  height: 130px;
  position: relative;
  background: red;
  border: 1px solid transparent;
  .logo-pic{
    width: 225px;
    height: 67px;
    position: absolute;
    top: 50%;
    margin: -33px 0 0 0;
    @media (max-width: 900px){
      top: 30%;

    }

  }
  .header-phone-btn{
    position: absolute;
    top: 25px;
    right: 0;
    .phone-number{
      font-size: 1.18em;
      font-weight: 700;
      text-decoration: none;
      margin: 0 10px 0 0;
      .link-colors(@black, @black)
    }
    button{
      .btn(@light-green);
      font-size: 15px;
    }
    @media (max-width: 900px){


    }
  }
  .header-menu{
    max-width: 650px;
    position: absolute;
    top: 75px;
    right: 0;
    ul{
      list-style: none;
      li{
        display: inline-block;
        &:not(:last-child){
          margin-right: 60px;
          @media (max-width: 900px){
            margin-right: 9%;
          }
        }
      }
      a{
        display: inline-block;
        text-decoration: none;
        margin: 0 auto;
        line-height: 1.2em;
        .link-colors(@black, @black);
        &:hover,
        &.active{
          border-bottom: 1px solid #3c3c3c;
        }
      }
    }

    @media (max-width: 900px){
      position: static;
      max-width: 556px;
      width: 100%;
      margin: 88px auto 0 auto;
    }
  }
}
@media screen and (max-width: 900px){

}